/* css untuk tampilan index atau halaman home  yang pertama kali tampil pada saat website dibuka */


/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.putih{
    display: block;
    background-color: white;
    /* margin: 0px auto; */
}

/* Slideshow Styles */
.slideshow-container {
    background-color: #666;
    position: relative;
    max-width: 75%;
    margin: auto;
    background-color: white; /* Ensure the slideshow container has a white background */
}

.mySlides1 {
    /* background-color: aquamarine; */
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* Promo Section Styles */
.promo-section {
    text-align: center;
    padding: 20px 0;
    background-color: white;
     /* Ensure the promo section has a white background */
}

.promo-item {
    display: inline-block;
    margin: 10px;
}

.promo-item img {
    max-width: 100%;
    height: auto;
}

.promo-item img.small {
    max-width: 75%; /* Set the desired max width */
    height: auto;
}
